body {
    background-image: url(../images/bg2.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    /* 当内容高度大于图片高度时，背景图像的位置相对于viewport固定 */
    background-attachment: fixed;
    /* 让背景图基于容器大小伸缩 */
    /* 设置背景颜色，背景图加载过程中会显示背景色 */
    background-color: #464646;
}

.header {
    margin-right: 0;
}

.login-box {
    width: 25%;
    min-width: 420px;
    /*margin: 10% auto 0;*/
}

.login-header {
    padding: 60px 0;
}

.logo {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color: #cce3ec;
    display: inline-block;
    position: relative;
    z-index: 10;
    text-indent: -9999px;
}

.close {
    position: absolute;
    top: 10px;
    right: 13px;
}

.login-tel {
    background: url(../images/icon32.png) no-repeat 10px center;
}

.login-password, .login-tel {
    padding-left: 40px;
    border: 1px solid #a2bed0;
}

.login-password {
    background: url(../images/icon31.png) no-repeat 10px center;
}

.index-text {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 77%;
}
/*弹出框*/

.login-box {
    z-index: 9999;
    position: fixed;
    left: 37.5%;
}

.modalsBg {
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(255,255,255,0.5);
    top: 0;
    left: 0;
    z-index: 8;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.animated-500 {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
        transform: translateY(0px);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        transform: translateY(-20px);
    }
}
